{% extends 'index.html' %}
{% load static %}

{% block content %}
<div style="font-family: Roboto" class="min-h-screen text-center justify-center mx-4 my-4 md:mx-32 md:my-6 text-gray-600 dark:text-gray-800">
    <div class="flex flex-col my-10 items-center text-center text-gray-600 dark:text-gray-300">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "success" %}
                    <div class="flex-1 w-fit mb-4 justify-self-center text-center bg-gray-300 text-gray-600 text-sm font-bold px-[72px] py-4 rounded-md" role="alert">
                        <p>{{ message }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="flex-1 mb-4"><p>Your password has been set. You may go ahead and log in now.</p></div>
        <div>
            <a href="/login" class="bg-gray-600 text-gray-100 dark:text-gray-300 inline-block py-2 px-[84px] rounded-md shadow-sm dark:shadow-md shadow-gray-700 dark:shadow-gray-800 hover:border hover:border-gray-700 dark:hover:border-gray-500 font-semibold">Log In</a>
        </div>
    </div>
</div>

{% endblock content %}