{% extends 'index.html' %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}
<div style="font-family: Roboto" class="min-h-screen text-center justify-center mx-4 my-4 md:mx-32 md:my-6 text-gray-600 dark:text-gray-800">
    <div class="flex flex-col my-10 items-center text-center text-gray-600 dark:text-gray-300">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "success" %}
                    <div class="flex-1 w-fit mb-4 justify-self-center text-center bg-gray-300 text-gray-600 text-sm font-bold px-[72px] py-4 rounded-md" role="alert">
                        <p>{{ message }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <div class="mb-4 flex-1">
                {{ form|crispy }}
            </div>
            <div class="mb-4 flex-1">
                <input type="submit" name="submit" value="Submit" class="hover:cursor-pointer bg-gray-600 text-gray-100 dark:text-gray-300 inline-block py-2 px-20 rounded-md shadow-sm dark:shadow-md shadow-gray-700 dark:shadow-gray-800 dark:border-0 hover:border hover:border-gray-700 dark:hover:border-gray-500 font-semibold">
            </div>
            {% if form.errors %}
            <div class="mb-6 flex-1 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <strong class="font-bold">Error!</strong>
                {% for value in form.errors.values %}
                <span class="block sm:inline">{{ value }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </form>
    </div>
</div>

{% endblock content %}